@page
@model ASP.NET_Projekt.Pages.Events.EditModel

@{
    ViewData["Title"] = "Edit Your Event";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@if (Request.Method == "POST")
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Event was successfully edited!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="d-flex align-items-center flex-column">
        <h2>You've successfully edited the event!</h2>
        <a asp-page="./Index">Back to List</a>
    </div>
}
else
{
    <h1>Edit @Html.DisplayNameFor(model => model.Event.Title)</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Event.Id" />
                <div class="form-group">
                    <label asp-for="Event.Title" class="control-label"></label>
                    <input asp-for="Event.Title" class="form-control" />
                    <span asp-validation-for="Event.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Event.Place" class="control-label"></label>
                    <input asp-for="Event.Place" class="form-control" />
                    <span asp-validation-for="Event.Place" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Event.Address" class="control-label"></label>
                    <input asp-for="Event.Address" class="form-control" />
                    <span asp-validation-for="Event.Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Event.Date" class="control-label"></label>
                    <input asp-for="Event.Date" class="form-control" />
                    <span asp-validation-for="Event.Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Event.SpotsAvailable" class="control-label"></label>
                    <input asp-for="Event.SpotsAvailable" class="form-control" />
                    <span asp-validation-for="Event.SpotsAvailable" class="text-danger"></span>
                </div>
                <div  class="form-group">
                    <label asp-for="Event.Description" class="control-label">Description:</label>
                    <textarea asp-for="Event.Description" rows="6" class="form-control"></textarea>
                    <span asp-validation-for="Event.Description"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
